<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name = "form" enctype = "multipart/form-data" action = "/" method = "POST" >
        {% csrf_token %}
          <input type = "file" style = "margin-left:20%;" placeholder = "Picture" name = "picture" />
          <button  type = "submit" value = "Import" ></button>
    </form>
</body>
</html>