{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    
    <title>login</title>
    <style>
        img {
  border: 3px solid #282c34;
}
.container-fluid {
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid > div {
  width: 85%;
  min-width: 300px;
  max-width: 500px;
}
.card {
  width: 100%;
}
.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn a, .btn a:hover {
  color: white;
  text-decoration: none ;
}
    </style>
</head>
<body>
    <div class="container-fluid">
        <div>
            <h1 class="text-white text-center">Signin</h1>
            <div class="card p-5">
                <div class="row">
                    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                        <button class="btn btn-danger  mb-2">
                            <a href='{% provider_login_url "google" %}'>Login With Google</a>
                        </button>
                        <button class="btn btn-primary mb-2">
                            <a href="{% url 'social:begin' 'facebook' %}">Login With Facebook</a>
                        </button>
                        <!--
                        <button class="btn btn-info mb-2">
                            <a href="#">Login with LinkedIn</a>
                        </button>
                        -->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>