{% load static %}

{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->

<head>
        <base href="../">
        <meta charset="utf-8" />
        <title>Forgot| MyNextFilm - MNF</title>
        <meta name="description" content="Login page example" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="canonical" href="https://keenthemes.com/metronic" />
        <!--begin::Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <!--end::Fonts-->
        <!--begin::Page Custom Styles(used by this page)-->
        <link href="{% static 'mnfapp/assets/css/pages/login/classic/login-4.css' %}" rel="stylesheet" type="text/css" />
        <!--end::Pag{% static mnfapp/e Custom Styles-->
        <!--begin::G{% static mnfapp/lobal Theme Styles(used by all pages)-->
        <link href="{% static 'mnfapp/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'mnfapp/assets/plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet"
                type="text/css" />'
        <link href="{% static 'mnfapp/assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
        <!--end::Glo{% static 'mnfapp/bal Theme Styles-->
        <!--begin::L{% static 'mnfapp/ayout Themes(used by all pages)-->
        <link href="{% static 'mnfapp/assets/css/themes/layout/header/base/light.css' %}" rel="stylesheet"
                type="text/css" />
        <link href="{% static 'mnfapp/assets/css/themes/layout/header/menu/light.css' %}" rel="stylesheet"
                type="text/css" />
        <link href="{% static 'mnfapp/assets/css/themes/layout/brand/dark.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'mnfapp/assets/css/themes/layout/aside/dark.css' %}" rel="stylesheet" type="text/css" />
        <!--end::Layout Themes-->
        <link rel="shortcut icon" href="{% static 'mnfapp/assets/media/logos/favicon.ico' %}" />
        <style>
                
        </style>

</head><body id="kt_body" style="background-image: url('{%static 'file4.jpg'%}';width:100vw;hieght:100vh;")>
    <img src="{%static 'file4.jpg'%}" style="width: 100vw; height: 100vh; position: absolute; left: 0%;top: 0%;z-index: -222;" alt="" srcset="">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
            <!--begin::Login-->
            <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
                    <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat"
                            style="background-image: url('assets/media/bg/bg-3.jpg');">
                            <div class="login-form text-center p-7 mt-15 position-relative overflow-hidden"
                     style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color:#b2d8ff;border-radius: 10px;">
                                    <!--begin::Login Header-->

                                    <div class="d-flex flex-center mb-5">
                                            <a href="#">
                                                    <img src="{% static 'mnfapp/assets/media/logos/mnf-logo.png' %}" class="max-h-75px" alt="" />
                                            </a>
                                    </div>
                                    <div class="login-signin" >
                                        <div class="mb-6">
                                                <h3>Reset Password</h3>
                                                <div class="font-weight-bold">Enter your registered email below</div>
                                        </div>
                                        {%if messageses%}
                                        <p style="margin: 3mm; color: red;text-align:center;">{{messageses}}</p>
                                        {%endif%}
                <form class="form" method="POST" style="display: flex;">
                    {% csrf_token %}
                    <input placeholder="enter email id" class="form-control h-auto form-control-solid py-3 px-8 border border-primary" type="email" name="email" autocomplete="email" required>
                                                <input class="btn btn-primary border border-primary btn-sm" style="width: 25%;" value="confirm"  type="submit" >
                </form>
                                        <div class="mt-5">
                                                <span class="opacity-100 mr-4">Don't have an account yet?</span>
                                                <a href="{% url 'signup' %}" id="kt_login_signup"
                                                        class="text-hover-primary font-weight-bold">Sign Up!</a>
                                        </div>
                                        <div class="mt-2">
                                                <span class="opacity-100 mr-4">Remember password?</span>
                                                <a href="{% url 'signin' %}" id="kt_login_signup"
                                                        class="text-hover-primary font-weight-bold">Sign in!</a>
                                        </div>
                                </div>

                            </div>
                    </div>
                </div>
                <!--end::Login-->
        </div>
        <!--end::Main-->
        <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
        <!--begin::Global Config(global config for global JS scripts)-->
    </body>
<!--end::Body-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
        $(function () {
            $("#toggle_pwd").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
               var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                $("#password").attr("type", type);
            });

        });
</script>
</html>
